// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)
$primary: #ed1c24
$secondary: #f7f7f7 
$text: #333
$border: #ddd
$input: #ddd
$bg: #f0f0f0
=round
	border-radius: 5px 
+font(museosanscyrl_300, museosanscyrl_300)
=msans_300
	font-family: "museosanscyrl_300", Arial, Helvetica, sans-serif

+font(museosanscyrl_500, museosanscyrl_500)
=msans_500
	font-family: "museosanscyrl_500", Arial, Helvetica, sans-serif

+font(museosanscyrl_700, museosanscyrl_700)
=msans_700
	font-family: "museosanscyrl_700", Arial, Helvetica, sans-serif
	
+font(museocyrl_500, museocyrl_500)
=m_500
	font-family: "museocyrl_500", Arial, Helvetica, sans-serif
	
=reg
	font-family: Arial, Helvetica, sans-serif

=icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
html
	font-size: 62.5%
	+selection
		background: rgba(#000,.2) 
	+r(992)
		font-size: 56%
body
	+msans_500
	font-size: 1.8rem
	line-height: 1.2
	color: $text 
a
	text-decoration: none
	&:hover
		text-decoration: none
.link
	color: $primary
	border-bottom: 1px solid
	+tr(border .3s)
	&:hover
		border-color: transparent 
.container-fluid
	max-width: 1200px
// common blocks
.header
	border-top: 4px solid $primary 
	+r(767)
		text-align: center
	.logo
		margin: 3.3rem 0 0 
	.btn-group
		clear: both
		text-align: right
		.btn
			margin: 2rem
		+r(767)
			text-align: center
		+r(480)
			.btn
				display: block
				margin: 2rem auto
				width: 20rem 
				padding-left: 0
				padding-right: 0 
	&_registered
		border-top: 0
.logo
	display: inline-block
	max-width: 100%
	+hide-text
	img
		max-width: 100%
.logo-nova-poshta
	+hide-text
.lang
	float: right
	margin: 2rem 0 3.5rem
	text-align: right
	+r(767)
		position: absolute
		top: -13rem
		right: 1rem
		font-size: 1.5rem
	&__item
		display: inline-block
		vertical-align: middle
		margin-left: 2.75rem 
		&.is-active
			.lang__link
				color: $primary
				border-color: transparent  
	&__link
		color: #9b9b9b 
		border-bottom: 1px solid
		text-transform: uppercase 
		transition: color .3s
		+reg
		font-weight: 700 
		&:hover
			color: $primary 
.nav
	margin: 3.3rem 0 3rem
	font-size: 0
	+r(480)
		margin-left: auto 
		margin-right: auto 
		display: inline-block
	&__item
		display: inline-block
		vertical-align: middle
		margin-left: 4%
		font-size: 1.8rem
		&:first-child
			margin-left: 0
		&:hover,
		&.is-active
			.nav__link
				color: $primary 
		+r(767)
			font-size: 1.5rem
		+r(480)
			display: block
			margin-left: 0
			text-align: left
			margin-bottom: 1.3rem 
	&__link
		display: block
		color: $text
		+tr(color .3s)
.footer
	background-color: $primary
	&__in
		padding: 2.5rem 0 2rem
		+r(767)
			text-align: center
	&__nav
		+r(767)
			display: inline-block
			text-align: left
		li
			margin: .7rem 0
			+r(600)
				display: inline-block
				vertical-align: middle
				margin: .7rem
			+r(480)
				display: block !important
			a
				color: #fff
				font-size: 1.5rem
				text-shadow: 1px 1px 0 $primary, -1px 1px 0 $primary, 2px 0 0 $primary, -2px 0 0 $primary
				position: relative
				z-index: 2
				&:after
					content: ''
					position: absolute
					z-index: -1 
					left: 0
					bottom: 0px
					right: 0
					height: 1px
					border-bottom: 1px solid 
				&:hover
					&:after
						display: none
		
	&__meta
		background: #780f13
		color: #fff
		font-size: 1.4rem 
		text-align: center
		height: 100% 
		padding: 1.3rem 0 1rem
	.payments
		margin-bottom: 2rem 
	.logo-nova-poshta
		margin: 2rem 0
		display: block
		+r(767)
			display: none
	.logo
		margin-top: 5rem 
		margin-left: -4rem 
		+r(600)
			margin-top: 2rem
	.f-contacts
		text-align: right
		&__in
			text-align: left
	.row
		> div
			+r(600)
				float: none
				width: 100%
.feedback
	color: #fff
	font-size: 2rem 
	li
		margin: 1rem 0 
	a
		color: #fff
		text-shadow: 1px 1px 0 $primary, -1px 1px 0 $primary, 2px 0 0 $primary, -2px 0 0 $primary
		position: relative
		z-index: 2
		&:after
			content: ''
			position: absolute
			z-index: -1 
			left: 0
			bottom: 0px
			right: 0
			height: 1px
			border-bottom: 1px solid 
		&:hover
			&:after
				display: none
.payments
	font-size: 0
	img
		margin-right: 10px 	
.seo
	margin-top: 5.5rem
	+r(360)
		font-size: 1.6rem
	p
		line-height: 1.7 	
.btn-group
	font-size: 0
	.btn
		margin-left: 4rem
		&:first-child
			margin-left: 0
		
.btn
	display: inline-block
	padding: 1.7rem 4.5rem
	text-transform: uppercase
	text-align: center
	border-radius: 4px 
	+msans_500
	font-size: 1.8rem
	line-height: 1
	+tr(background .3s)
	&:active
		box-shadow: none
	&_default
		background: $secondary
		color: $primary 
		box-shadow: inset 0 -2px 0 #cecece 
		&:hover
			background: darken($secondary, 5%)
		&:active
			background: darken($secondary, 7%)
	&_action
		background: $primary 
		color: #fff
		box-shadow: inset 0 -2px 0 #C4161C 
		&:hover
			background: darken($primary, 5%)
		&:active
			background: darken($primary, 7%)
	&_small
		padding: .7rem 1.8rem
		text-transform: none
		
	&_white
		background: #fff
		color: $primary
		box-shadow:  0 2px 0 rgba(0, 0, 0, 0.2)
		font-size: 1.6rem 
	&_width
		width: 50rem
		text-align: center
		+r(767)
			width: 100%
	&_width-small
		width: 40rem
		text-align: center
		+r(767)
			width: 100%
	&_width-xs
		width: 26rem
		text-align: center 
.btn-link
	border: 2px solid
	padding: .7rem 1.5rem
	line-height: 1 
	color: #000 
	+msans_300
	font-size: 2.4rem
	line-height: 1
.link-out
	color: #fff
	font-size: 2rem
	  
.title
	margin: 6rem 0 6rem
	color: $primary
	line-height: 1.18  
	font-size: 3.2rem
	+m_500
	text-align: center
	+r(480)
		margin: 3rem 0 
	+r(360)
		font-size: 2.5rem
	&_left
		text-align: left
.box
	border: 1px solid $border
	padding: 5.5rem 
	+round
	+r(480)
		border: 0
		padding: 0 2rem
		 
.form-horizontal
	&_mod
		.row
			margin-bottom: 3rem
			+r(767)
				margin-bottom: 0
		.form-group
			margin: 0 
	.row
		margin-top: 2.3rem
		margin-bottom: 2.3rem
		+r(767)
			margin-top: 0
			margin-bottom: 0
		&:first-child
			margin-top: 0
		&:last-child
			margin-bottom: 0
	.text-left
		.control-label
			text-align: left
			+r(992)
				text-align: right
		.radio-inline
			padding-left: 0
			+r(767)
				padding-left: 20px
	.text-right
		+r(767)
			text-align: left
		.control-label
			text-align: right
			+r(767)
				text-align: left
			
		.radio-inline
			padding-right: 0
	.control-label
		font-weight: normal
		.control-label
			padding: 13px 0 0 15px
	.btn_width
		margin: 3rem 0
	.total
		margin: 5rem 0 3rem

.form-group
	font-size: 1.6rem
	+msans_500
	+r(767)
		text-align: center
		margin-bottom: 3rem
.parameters
	.form-group
		+r(767)
			text-align: right
	.control-label
		+r(767)
			padding-top: 12px
.input-group-addon
	background: none
	padding: .6rem 
	position: relative
	color: #999
	font-size: 1.6rem
	border-left: 0
	border-radius: 0 2px 2px 0 
	border-color: $input 
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
	+r(992)
		height: 40px
	&:before
		content: ""
		position: absolute
		left: -1px
		top: 0
		bottom: 0
		z-index: 2
		width: 3px 
		background: #fff 
.form-control
	+msans_500
	+r(992)
		height: 40px
	&:focus
		box-shadow: none
		+ .input-group-addon
			border-color: #000 
.radio-inline
	+msans_500
	font-size: 1.6rem
	input[type="radio"]
		margin: 0 .7rem 0 0
		position: static
		+r(767)
			position: absolute
			top: 7px
			left: 0
			margin: 0
	span, input
		display: inline-block
	&_right
		input[type="radio"]
			margin: 0 0 0 .7rem
.total
	font-size: 2.8rem
	text-align: center
	+r(360)
		font-size: 2rem
.meta-text
	font-size: 1.2rem
.control-label
	font-size: 1.6rem
	
.captcha
	text-align: center
	font-size: 0
	> span
		display: inline-block
		padding: 0 1.5rem 
		vertical-align: middle
	&__title
		font-size: 1.6rem
		margin: 0
		vertical-align: middle
	&__input
		width: 10rem

.checkbox-inline,
.checkbox
	font-size: 1.6rem
	&.is-right
		label
			padding: 0 2rem 0 0
		input
			margin: 0
			top: 11px
			left: auto
			right: -2rem
.popup
	display: none
	position: fixed
	left: 0
	right: 0
	top: 0 
	bottom: 0
	background-color: rgba(0, 0, 0, 0.25)
	z-index: 11
	overflow-y: auto
	overflow-x: hidden
	+vertical
	&__main
		display: inline-block
		vertical-align: middle
		padding: 3rem 7rem 4rem 
		font-size: 1.8rem 
		width: 840px 
		background: #fff 
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.4)
		position: relative
		.title
			margin: 1rem 0 4rem
		+r(860)
			width: auto
			max-width: 840px 
	&__close
		position: absolute
		top: 2.5rem
		right: 2.5rem
		background: none
		font-size: 4rem
		color: #000
		opacity: .4
		+tr(opacity .25s)
		&:hover
			opacity: 1
			
.feedback-form
	&__submit
		margin-top: 6rem
	.control-label
		padding-right: 15px 
	textarea
		resize: vertical







