<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<div class="payments">
					<img src="img/pay-visa.svg" alt="visa">
					<img src="img/pay-mc.svg" alt="mastercard">
				</div>
				<ul class="footer__nav">
					<li><a href="#">Послуги та ціни</a></li>
					<li><a href="#">Як це працює</a></li>
					<li><a href="#">Каталог магазинів</a></li>
					<li><a href="#">FAQ</a></li>
				</ul>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
				<a href="#" class="logo">
					<img src="img/logo-white.svg" alt="Nova Poshta Shopping">
					<strong>Nova Poshta Shopping</strong>
				</a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<a href="#" class="logo-nova-poshta">
					<img src="img/logo-nova-poshta.svg" alt="Nova Poshta">
					<strong>Нова пошта</strong>
				</a>
				<ul class="feedback">
					<li>0800 500 00 55</li>
					<li><a href="#">Зв’язатись з нами</a></li>
				</ul>
				
			</div>
		</div>
	</div>
	<div class="footer__meta">
		Copyright © 2015 Nova Poshta LLC | All right reserved  
	</div>
</div>