<div class="header">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
				<a href="#" class="logo">
					<img src="img/logo.png" alt="Nova Poshta Shopping">
					<strong>Nova Poshta Shopping</strong>
				</a>
			</div>
			<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
				<ul class="lang">
					<li class="is-active"><a href="#">УКР</a></li>
					<li><a href="#">РУС</a></li>
				</ul>
				<div class="btn-group">
					<button type="button" class="btn btn_default">РЕЄСТРАЦІЯ</button>
					<button type="button" class="btn btn_action">ВХІД В КАБІНЕТ</button>
				</div>
				<ul class="nav">
					<li><a href="#">ПОСЛУГИ ТА ЦІНИ </a></li>
					<li><a href="#">ЯК ЦЕ ПРАЦЮЄ</a></li>
					<li><a href="#">КАТАЛОГ МАГАЗИНІВ</a></li>
					<li><a href="#">FAQ</a></li>                       
				</ul>
			</div>
		</div>
	</div>
</div>