<div class="header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
				<a href="#" class="logo">
					<img src="img/logo.png" alt="Nova Poshta Shopping">
					<strong>Nova Poshta Shopping</strong>
				</a>
			</div>
			<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
				<ul class="lang">
					<li class="lang__item is-active"><a href="#" class="lang__link">УКР</a></li>
					<li class="lang__item"><a href="#" class="lang__link">РУС</a></li>
				</ul>
				<div class="btn-group">
					<button type="button" class="btn btn_default">РЕЄСТРАЦІЯ</button>
					<button type="button" class="btn btn_action">ВХІД В КАБІНЕТ</button>
				</div>
			</div>
			<div class="col-xs-12">
				<ul class="nav">
					<li class="nav__item"><a class="nav__link" href="#">ПОСЛУГИ ТА ЦІНИ </a></li>
					<li class="nav__item"><a class="nav__link" href="#">ЯК ЦЕ ПРАЦЮЄ</a></li>
					<li class="nav__item"><a class="nav__link" href="#">КАТАЛОГ МАГАЗИНІВ</a></li>
					<li class="nav__item"><a class="nav__link" href="#">FAQ</a></li>                
				</ul>
			</div>
		</div>
	</div>
</div>