<div class="header header_registered">
	<div class="cabinet">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="cabinet__item user">
						<div class="cabinet__item-in">
							<a href="#" class="user__name">
								<i class="icon-user"></i>
								<span>Артем Волхонський</span>
							</a>
							<ul class="user__info">
								<li><a href="#">Отримувачі (0)</a></li>
								<li><a href="#">Посилки (0)</a></li>
								<li><a href="#">Трекінг коди (0)</a></li>
							</ul>
						</div>

					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="cabinet__item balance">
						<div class="cabinet__item-in">
							<div class="balance__number">Баланс: 600 грн.</div>
							<a href="#" class="btn btn_white btn_small">Поповнити рахунок</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12">
					<div class="col-md-7 col-sm-6">
						<div class="cabinet__item">
							<div class="cabinet__item-in">
								<div class="header-help">
									<a href="#">Допомога</a>
									<a href="#">Правила користування</a>
								</div>
							</div>

						</div>
					</div>
					<div class="col-md-5 col-sm-6">
						<div class="cabinet__item">
							<div class="cabinet__item-in">
								<div class="logout">
									<a href="#" class="link-out">Вийти <i class="icon-exit"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
				<a href="#" class="logo">
					<img src="img/logo.png" alt="Nova Poshta Shopping">
					<strong>Nova Poshta Shopping</strong>
				</a>
			</div>
			<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
				<ul class="lang">
					<li class="lang__item is-active"><a href="#" class="lang__link">УКР</a></li>
					<li class="lang__item"><a href="#" class="lang__link">РУС</a></li>
				</ul>
			</div>
			<div class="col-xs-12">
				<ul class="nav">
					<li class="nav__item"><a class="nav__link" href="#">ПОСЛУГИ ТА ЦІНИ </a></li>
					<li class="nav__item"><a class="nav__link" href="#">ЯК ЦЕ ПРАЦЮЄ</a></li>
					<li class="nav__item"><a class="nav__link" href="#">КАТАЛОГ МАГАЗИНІВ</a></li>
					<li class="nav__item"><a class="nav__link" href="#">FAQ</a></li>                
				</ul>
			</div>
		</div>
	</div>
</div>